@media (min-width:236px) {

    .isontop {
        font-size: 45px;
        transform: translateX(-100px); 
    }

    .contact {
        margin-left: 10px;
    }

    .menu {
        margin-right: 10px;
    }

    .move-down {
        transform: translateY(50px); 
    }

    .main-img {
        width: 95vw;
        height: auto;
    }

    .title-container {
        height: auto;
    }

    .label {
        top: 20px;
    }

    .img-title {
        font-size: 25px;
    }

    .img-btn {
        padding: 13px 40px;
    }
}