@media (max-width: 900px) {
    .isontop {
        font-size: 45px;
        transform: translateX(-100px); 
    }

    .contact {
        margin-left: 10px;
    }

    .menu {
        margin-right: 10px;
    }

    .move-down {
        transform: translateY(50px); 
    }

    .img-container {
       width: 100%; 
    }

    .main-img {
        width: 95%;
        height: auto;
    }

    .title-container {
        height: auto;
    }

    .img-title {
        font-size: 25px;
    }

    .img-btn {
        padding: 13px 40px;
    }

    .featured-content {
        flex-direction: column;
        align-items: center;
        margin: unset;
    }

    .know-more-container {
        width: 80vw;
        margin: unset;
    }

    .know-more-img {
        margin: 0;
    }

    .know-more-img img {
        width: 90vw;
    }

    .know-more-title {
        font-size: 25px;
        margin-top: 35px;
    }

    .know-more-text {
        font-size: 18px;
        text-align: center;
    }

    .services-title {
        text-align: center;
        font-size: 30px;
    }

    .container-service-videos {
        flex-direction: column;
    }

    .services {
        margin-top: 200px;
    }

    .service-video {
        width: 100%;
        align-items: center;
        margin-bottom: 30px;
    }

    .service-video-item {
        width: 90%;
        background-color: antiquewhite;
    }

    .service-info-text {
        font-size: 16px;
        width: 90vw;
     }
}


@media (min-width: 900px) {
    .know-more-img img {
        width: 45vw;
    }
}